/* font */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* font end */

/* body background */

body{
  background-color: #f8f4f4;
}


/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px;
}

nav ul li {
  list-style: none;
}

nav h4{
  font-weight: 800;
  font-size: 32px;
}

main{
  margin: 160px;
}

/* banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-bottom: 80px;
  margin-top: -80px;
}

.banner-content{
  max-width: 622px;
  padding: 100px;
}


.banner-title{
font-weight: 600;
font-size: 24px;
color: #0e0e0e;
opacity: 50% ;
}

.banner-title-second{
  font-weight: 800;
  font-size: 56px;
  color: black;
}

.banner-picture{
  width: 474.03px;
  height: 400px;
  padding: 80px 100px;
}

/* button styles */

.btn-primary {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  border-color: #006A50;
}

.btn-secondary{
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  padding: 17px 34px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
}

#sign-in{
  font-weight: 400;
  font-size: 18px;
  color: #006A50;
  padding: 15px 30px;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: #006A50;
}

/* Pillars of "Bangladesh 2.0" styles*/

.first-section{
  margin-bottom: 80px;
}

.pillar-main-title{
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 40px;
}

.pillar-container{
  display: flex;
  gap: 24px;
}

.pillar{
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #dfdfdf;
}

.pillar-title{
    font-weight: 800;
    font-size: 20px;
}

.pillar-description{
  font-weight: 400;
  font-size: 16px;
}

/* The Vision of Future styles */

.second-section{
  margin-bottom: 80px;

}


.vision-container{
  display: flex;
  gap: 24px;
}

.vision-main-title{
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 40px;
}

.vision-main-description{
  font-weight: 400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70%;
}

.vision-title{
  font-weight: 800;
  font-size: 20px;
}

.vision-description{
  font-weight: 400;
  font-size: 16px;
}

.vision-1{
  padding: 32px;
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.vision-2{
  padding: 32px;
  background-color: #C6E4D6;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.vision-3{
  padding: 32px;
  background-color: #F7EBCF;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.semi-section{
  padding: 48px 24px;
  background-color: #ffffff;
  border-radius: 16px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 32px;
}

.quote{
  /* margin:-20px; */
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
}

.quote-title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -15px;
}

.quote-description{
  font-weight: 400;
  font-size: 16px;
}

/* Learn More Button styles */

.btn-learn-more-1{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #5490F5;
  border: none;
  border-radius: 8px;
}

.btn-learn-more-2{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #09A15C;
  border: none;
  border-radius: 8px;
}

.btn-learn-more-3{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #FFC239;
  border: none;
  border-radius: 8px;
}


/* Table Style  */

table{
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 24px;
}

.table-container{
  justify-content: ;
}

.btn-third{
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 14px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
}


/* Recent News styles */

.recent-news-1{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 24px;
  padding: 48px;
}

.news-1-content{
  padding: 32px;
}

.satelite{
  border-radius: 24px;
}

.news-1-title{
  font-weight: 800;
  font-size: 32px;
}

.news-1-description{
  font-weight: 400;
  font-size: 16px;
}

.time{
  font-weight: 400;
  font-size: 16px;
}


