/* font */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* font end */

/* body background */

body{
  background-color: #f8f4f4;
}


/* nav styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px;
}

nav ul li {
  list-style: none;
}

nav h4{
  font-weight: 800;
  font-size: 32px;
}

main{
  margin: 160px;
}

/* banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-bottom: 80px;
  margin-top: -80px;
}

.banner-content{
  max-width: 622px;
  padding: 100px;
}


.banner-title{
font-weight: 600;
font-size: 24px;
color: #0e0e0e;
opacity: 50% ;
}

.banner-title-second{
  font-weight: 800;
  font-size: 56px;
  color: black;
}

.banner-picture{
  width: 474.03px;
  height: 400px;
  padding: 80px 100px;
}

/* button styles */

.btn-primary {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  border-color: #006A50;
}

.btn-secondary{
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  padding: 17px 34px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
}

#sign-in{
  font-weight: 400;
  font-size: 18px;
  color: #006A50;
  padding: 15px 30px;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: #006A50;
}

/* Pillars of "Bangladesh 2.0" styles*/

.first-section{
  margin-bottom: 80px;
}

.pillar-main-title{
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 40px;
}

.pillar-container{
  display: flex;
  gap: 24px;
}

.pillar{
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #dfdfdf;
}

.pillar-title{
    font-weight: 800;
    font-size: 20px;
}

.pillar-description{
  font-weight: 400;
  font-size: 16px;
}

/* The Vision of Future styles */

.second-section{
  margin-bottom: 80px;

}


.vision-container{
  display: flex;
  gap: 24px;
}

.vision-main-title{
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 40px;
}

.vision-main-description{
  font-weight: 400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70%;
}

.vision-title{
  font-weight: 800;
  font-size: 20px;
}

.vision-description{
  font-weight: 400;
  font-size: 16px;
}

.vision-1{
  padding: 32px;
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.vision-2{
  padding: 32px;
  background-color: #C6E4D6;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.vision-3{
  padding: 32px;
  background-color: #F7EBCF;
  border-radius: 16px;
  font-weight: 800;
  font-size: 20px;
}

.semi-section{
  padding: 48px 24px;
  background-color: #ffffff;
  border-radius: 16px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 32px;
}

.quote{
  /* margin:-20px; */
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
}

.quote-title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -15px;
}

.quote-description{
  font-weight: 400;
  font-size: 16px;
}

/* Learn More Button styles */

.btn-learn-more-1{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #5490F5;
  border: none;
  border-radius: 8px;
}

.btn-learn-more-2{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #09A15C;
  border: none;
  border-radius: 8px;
}

.btn-learn-more-3{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 20px;
  background-color: #FFC239;
  border: none;
  border-radius: 8px;
}


/* Table Style  */

table{
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.row-1{
  background-color: #C6E4D6;
  padding: 24px;
}

td{
  border: 1px solid black;
  padding: 24px;
}

.table-container{
  /* All content center dosnt work! */
justify-content: center;  
align-items: center;
background-color: white;
padding: 32px;
border-radius: 16px;
border-color: rgba(14, 14, 14, 0.15);
}

.table-contents{
  justify-content: center;
  align-items: center;
}

.btn-third{
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 14px;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
}


/* Recent News styles */

.recent-news-1{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 24px;
  padding: 48px;
  margin-bottom: 32px;
}

.news-1-content{
  padding: 32px; 
}

.satelite{
  border-radius: 24px;
  float: left;
}

.news-1-title{
  font-weight: 800;
  font-size: 32px;
}

.news-1-description{
  font-weight: 400;
  font-size: 16px;
}

.time{
  font-weight: 400;
  font-size: 16px;
}

.recent-news-2{
  background-color: white;
  padding: 32px;
  border-radius: 24px;
  margin-bottom: 32px;
}

.news-2-content{
  padding: 32px; 
}

.news-2-title{
  font-weight: 800;
  font-size: 32px;
}

.news-2-description{
  font-weight: 400;
  font-size: 16px;
}

.satelite-2{
  float: right;
  border-radius: 24px;
}


/* Donate today styles */

.donate-section{
text-align: center;
margin-bottom: 32px;
}

.donate-title{
  font-weight: 800;
  font-size: 40px;
}

.donate-description{
  font-weight: 400;
  font-size: 16px;
}

.donate-taka-section{
  display: flex;
  gap: 24px;
  justify-content: center;  
  font-weight: 800;
  font-size: 40px;
}

.donate-taka-section div:hover{
  background: #C6E4D6;
  color: #C6E4D6;
}

.amount{
  padding: 40px;
  background-color: white;
  border-radius: 16px;
}

.other-amount-container{
  justify-items: center;
}

.other-amount{
display: flex;
justify-content: center;
padding: 20px 450px;
margin-bottom: 32px;
border: none;
font-weight: 400;
font-size: 20px;
box-shadow: 0 1px rgba(14, 14, 14, 0.15);
}


/* Subscribe Newsletter styles */

.subscribe-newsletter-section{
  padding: 80px 100px;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-top: 80px;

}

.subscribe-newsletter-title{
  text-align: center;
 font-weight: 800;
 font-size: 40px;
 margin-bottom: 16px;
}

.subscribe-newsletter-description{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.email-section{
justify-content: center;
 text-align: center;
}

.enter-email{
  font-weight: 400;
  font-size: 16px;
  border-right: none;
  /* padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 403px; */
  padding: 18px 403px 18px 40px;
  border: none;
  border-radius: 8px 0 0 8px;
  color: rgba(14, 14, 14, 0.7);
}

.btn-subscribe{
font-weight: 800;
font-size: 18px;
color: #ffffff;
padding: 15px 34px;
background-color: #006A50;
border: none;
border-radius: 0 8px 8px 0;
}

.btn-description{
justify-content: center;
text-align: center;
font-weight: 400;
font-size: 16;
color: rgba(14, 14, 14, 0.7);
margin-top: 24px;
}


/* Footer section  */

footer{
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px 160px;
  text-align: center;
  font-weight: 800;
  font-size: 32px;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 32px;
  margin-bottom: 50px;
}

